@import "~normalize.css";

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html,
body {
  margin: 0px;
  padding: 0px;

  min-width: 100%;
  width: 100vw;
  max-width: 100%;

  min-height: 100%;
  height: 100vh;
  max-width: 100%;

  overflow: auto;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Hind", sans-serif;
}

button,
label {
  cursor: pointer;
}

/* **************************************** */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #ffd19d, #7dcfb6, #80a1d4);
}

.app-container {
  width: 950px;
  max-width: 1100px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 6px 9px 0 #bbbbbb54;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 15px;
}

/* **************************** */
/* Session */
/* **************************** */

.timer {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.timer-label {
  font-size: 30px;
  color: #707070;
}

/* **************************** */
/* Controll Panel */
/* **************************** */

.controll-panel {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  font-size: 35px;
  color: #707070;
  font-weight: 400;
}

/* Break, Session - length, Resset Buttons  */
.length-constollers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.length-name {
  font-size: 15px;
  color: #707070;
}

.length-screen {
  font-size: 25px;
  font-weight: 500;
}
.length-container {
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  border-radius: 5px;

  cursor: pointer;
  border: none;
  outline: none;
}

.button_increment,
.button_decrement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 17px;
  background-color: transparent;
}

.button_increment {
  border: 1px solid #00885e;
  color: #00885e;
}
.button_decrement {
  border: 1px solid #e06e0b;
  color: #e06e0b;
}

.button_reset {
  padding: 10px 20px;
  background-color: #c480d4;
  color: white;
  box-shadow: 0px 0px 2px 3px grey;
}

.button_start {
  width: 200px;
  height: 200px;
  background-color: #47d6b6;
  border-radius: 100%;
  font-size: 25px;
  color: white;
  letter-spacing: 1px;
  box-shadow: 0px 0px 13px 8px #969696;
  //transition: box-shadow 0.2s;
}

.stop {
  background-color: #ff847c;
  box-shadow: 0px 0px 10px 6px #969696;
}
